@model Domain.ModelView.UserViewModel
    @using Domain.Models
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SearchUsers</title>
</head>
<body>
    <div> 
        <form action="SearchUsers" method="post">
            Enter First Name to Search:<input id="Text1" name="txtFirstName" type="text" />
            <br />
            <input id="Submit1" type="submit" value="Search User" />
        </form>
    </div>
   
    @Html.Partial("DisplayUsers",Model)     @*this use the partial view DisplayUsers and pass him this model*@  



</body>
</html>
