

<br /><br /><br />
<head>
    <style>
        h2 {
            font-weight: bold;
            font: 50px arial, sans-serif;
        }

        input[type='submit'] {
            font-size: 32px;
            background-color: darkorange;
            border-color: darkorange;
        }

        body {
            background-image: url("../../Backgrounds/background.jpg");
            width: 100%;
            height: 100%;
            background-position: center;
            background-size: 100% 100%;
            background-repeat: no-repeat;
        }
    </style>
</head>

<body>
    <div class="row">
        <div class="row">
            <div class="col-sm-10">
                <b><h2>@ViewBag.Title</h2></b>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10">
                <b><h4>בחר/י תלמיד או נושא</h4></b>
            </div>
        </div>
        <br />
        <div class="row">
            @foreach (var data in TempData)
            {
                if (data.Key.Contains("subject"))
                {
                    <div class="col-sm-10">
                        <form class="col-xs-12" action="NavigateToTextsView" method="post">
                            <input name="subject" type="submit" id="subject" value="@data.Value" />
                        </form>
                    </div>
                }

                else if (data.Key.Contains("student"))
                {
                    <div class="col-sm-10">
                        <form class="col-xs-12" action="NavigateToStudentView" method="post">
                            <input name="student" type="submit" id="student" value="@data.Value" />
                        </form>
                    </div>
                }
            }
        </div>
    </div>
    <br /><br /><br /><br /><br /><br /><br />
</body>

