@model WebApplication1.Models.Customer

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Customer</title>
</head>
<body>
    <div> 
        Customer First Name: @Model.FirstName
        <br />
        Customer Last Name: @Model.LastName
        <br />
        Customer Number: @Model.CustomerNumber
    </div>
</body>
</html>
