@model WebApplication1.ModelView.CustomerViewModel
    @using WebApplication1.Models

<br />                                                                             
<span style="color:blue">Customers List :</span>
<br />                                                              
@*                                                          //this is not a complete view.. its a partial view we can use from several views!
<table>                         //this is hot to create pure html table in code, but down we use the html webGrid to do so
                                //just guessing we will use the regular to add css and bootstrap and stuff..
                                //the webGrid is a .net controller
    <tr>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Customer Number</td>
    </tr>
    @foreach (Customer obj in Model.customers)
    {
        <tr>
            <td>@obj.FirstName</td>
            <td>@obj.LastName</td>
            <td>@obj.CustomerNumber</td>
        </tr>
    }

</table>

    *@
@{
    WebGrid obj = new WebGrid(Model.customers);
}

@obj.GetHtml()

