@model WebApplication1.ModelView.CustomerViewModel
    @using WebApplication1.Models
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SearchCustomers</title>
</head>
<body>
    <div> 
        <form action="SearchCustomers" method="post">
            Enter First Name to Search:<input id="Text1" name="txtFirstName" type="text" />
            <br />
            <input id="Submit1" type="submit" value="Search Customer" />
        </form>
    </div>
   
    @Html.Partial("DisplayCustomers",Model)     @*this use the partial view DisplayCustomers and pass him this model*@  



</body>
</html>
