@{
    ViewBag.Title = "צור קשר";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
   אוניברסיטת בן גוריון<br />
    <abbr title="Phone">P:</abbr>
    0000000000
</address>

<address>
    <strong>תמיכה:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>שיווק:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>