
<div class="jumbotron">
    <h1>מכתבה</h1>
    <p class="lead">מכתבה - יוצרים הצלחה</p>
    <p><a href="#" class="btn btn-primary btn-lg">כניסה\הרשמה &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>כותרת1</h2>
        <p>
           מילים מילים יאללה הפועל מילים
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">כפתור1 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>כותרת2</h2>
        <p>מילים מילים</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">כפתור2 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>כותרת3</h2>
        <p>מילים</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">כפתור3 &raquo;</a></p>
    </div>
</div>