@model Frontend.Models.SmartTextViewModel


@{
    ViewBag.Title = "HomeWorkView";
}

<h2>עבודת בית</h2>


<br /> 
<head>
    <style>
        h2 {
            font-weight: bold;
            font: 50px arial, sans-serif;
            text-align:center;
        }

        input[type='submit'] {
            font-size: 32px;
            background-color: darkorange;
            border-color: darkorange;
        }

        body {
            background-image: url("../../Backgrounds/homeworkBackground.jpg");
            width: 100%;
            height: 100%;
            background-position: center;
            background-size: 100% 100%;
            background-repeat: repeat;
        }
    </style>
</head>

<body>
    
  
    <div class="row">
        <form class="text-right" action="GotoSmartTextBox" method="post" id="QuestionsMenu">


            @foreach (var subject in Model)
            {
            int i = 0;

            if (i == (int)Session["QuestionNumber"] )
            {
            <div class="col-sm-2">
                <input name="questionNumber" type="submit" value="@i" style="font:bold" />
            </div>
            }
            else
            {
            <div class="col-sm-2">
                <input name="questionNumber" type="submit" value="@i" />
            </div>
            }

            i++;
            }

        </form>
    </div>

   

    <div class="col-md-6 pull-right"> 

        <div class="row">
            @Html.Partial("SmartTextBox", Model.question)
        </div>

     </div>

    <div class="col-md-6 pull-right">
        @Html.Partial("TextView")
    </div>
    
    

    <br /><br /><br /><br /><br /><br /><br />
</body>




