@model Frontend.Models.SmartTextViewModel

@{
    ViewBag.Title = "HomeWorkView";
}

<h2>עבודת בית</h2>


<br /><br /><br />
<head>
    <style>
        h2 {
            font-weight: bold;
            font: 50px arial, sans-serif;
        }

        input[type='submit'] {
            font-size: 32px;
            background-color: darkorange;
            border-color: darkorange;
        }

        body {
            background-image: url("../../Backgrounds/background.jpg");
            width: 100%;
            height: 100%;
            background-position: center;
            background-size: 100% 100%;
            background-repeat: no-repeat;
        }
    </style>
</head>

<body>
    <div class="col-md-6 pull-right"> 

        <div class="row">
            @Html.Partial("SmartTextBox", Model.question)
        </div>

     </div>

    <div class="col-md-6 pull-right">
        @Html.Partial("TextView", Model.text)
    </div>

    

    <br /><br /><br /><br /><br /><br /><br />
</body>




