
<br /><br /><br />
<head>
    <style>
        h2 {
            font-weight: bold;
            font: 50px arial, sans-serif;
        }

        input[type='submit'] {
            font-size: 32px;
            background-color: darkorange;
            border-color: darkorange;
        }
        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            padding: 12px 16px;
            z-index: 1;
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }
        body {
            background-image: url("../../Backgrounds/homeworkBackground.jpg");
            width: 100%;
            height: 100%;
            background-position: center;
            background-size: 100% 100%;
            background-repeat: repeat;
        }
    </style>
</head>

<body>
<div class="row">
    <div class="row">
        <div class="col-sm-10">
            <b><u><h2>@ViewBag.Title:</h2></u></b>
        </div>
        <div class="col-sm-2 pull-left">
            <div class="dropdown">
                <input value="פירושי מילים" style="font-size: 16px; background-color: darkorange;"/>
                <div class="dropdown-content">
                    <p><span>@Html.Raw(HttpUtility.HtmlDecode((string)@TempData["WordsDefs"]))</span></p>
                </div>
            </div>
        </div>  
    </div>
    <br /><br />

    <div class="row">

        @if ((string)Session["WithQuestion?"] == "Without")
        {
            <p class="col-md-10 col-md-offset-1" id="textArea" style="border:none; background: transparent; overflow-y:auto; max-height:400px" >
                  @TempData["TextContent"] 
        </p>
        }
        else
        {
            <p class="col-md-10 col-md-offset-1" id="textArea" style="border:none; background: transparent; overflow-y:auto; max-height:400px">
                @TempData["TextContent"]
                </p>
        }


</div>          

    <br />
    <div class="row">

        <div class="col-md-3 col-md-offset-3 pull-left">
            <select class="styled-select" onchange="changeTextFont()" id="TextfontSize">
                <option>בחר גודל כתב</option>
                <option value="11pt">11</option>
                <option value="12pt">12</option>
                <option value="14pt">14</option>
                <option value="16pt">16</option>
                <option value="18pt">18</option>
                <option value="20pt">20</option>
                <option value="24pt">24</option>
                <option value="28pt">28</option>
                <option value="32pt">32</option>
            </select>
        </div>

        @if ((string)Session["WithQuestion?"] == "Without")
        {
                <div class="col-sm-3 pull-right">
                    <audio id="textAudio" controls="true" preload="auto">
                        <source src="C:\Users\mweiss\Desktop\EluveitieMeetTheEnemy.mp3" type="audio/mpeg">
                        <source src="C:\Users\mweiss\Desktop\EluveitieMeetTheEnemy.ogg" type="audio/ogg">
                    </audio>
                </div>
                <div class="col-sm-3 pull-right">
                    <button onclick="document.getElementById('textAudio').play()">PLAY</button>
                </div>
        }
    </div>

   

</div>
    
    @if ((string)Session["WithQuestion?"] == "Without") {
    <form class="text-right" action="GotoSmartTextBox" method="post">
        <div class="row">
            <div class="col-sm-4 pull-left">
                <input type="submit" value="המשך לשאלות" />
            </div>
        </div>
    </form>
                }
       else {
         <form class="text-right" action="ChooseAction" method="post">
        <div class="row">
            <div class="col-sm-3 pull-left">
                <input type = "submit" value="חזור לסיפור" />
            </div>
        </div>
    </form>
    } 

        <br /><br /><br /><br /><br /><br /><br />
</body>

<script>
    /*
    $(document).ready(function () {
        var dvWords = $("#textArea").html().split(' ');
        var dvHTML = ''
        for (i = 0; i < dvWords.length; i++) {
            if (dvWords[i].toLowerCase() == 'שנים') {
                dvHTML += ' ' + '<strong>' + dvWords[i] + '</strong>';
            }
            else {
                dvHTML += ' ' + dvWords[i];
            }
        }
        $("#textArea").html(dvHTML);
    });
    */

    

    function changeTextFont() {

        
        var tArea = document.getElementById("textArea");

        var selectBox = document.getElementById("TextfontSize");

        var selectedValue = selectBox.options[selectBox.selectedIndex].value;

        tArea.style.fontSize = selectedValue;

        var dvWords = $("#textArea").html().split(' ');
        var dvHTML = ''
        for (i = 0; i < dvWords.length; i++) {
            if (dvWords[i].toLowerCase() == 'שנים') {
                dvHTML += ' ' + '<strong> <abbr title="הסבר על מילה">' + dvWords[i] + '</abbr > </strong>';
            }
            else {
                dvHTML += ' ' + dvWords[i];
            }
        }
        $("#textArea").html(dvHTML);
       
    }


    f

</script>